<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd"> 

    <!-- Định nghĩa các bean ở đây -->
    <bean id="student1" class="iuh.fit.se.beans.xmlbased.Student" >
        <property name="id" value="001"></property>  
        <property name="Name" value="Bùi Khắc Thắng"></property>    
    </bean>
    
    <bean id="class1" class="iuh.fit.se.beans.xmlbased.Class_" >
        <property name="classId" value="DHKTPM17C"></property>  
        <property name="className" value="Dai hoc KTPM17C"></property>    
    </bean>
    
     <bean id="student2" class="iuh.fit.se.beans.xmlbased.Student" >
        <property name="id" value="002"></property>  
        <property name="name" value="Nguyễn Văn A"></property>    
        <property name="class_" ref="class1"></property>  
    </bean>
    
         <bean id="student3" class="iuh.fit.se.beans.xmlbased.Student" >
	     	<constructor-arg name="id" value="003"></constructor-arg>
	     	<constructor-arg name="name" value="Nguyen Van Anh"></constructor-arg>
	     	<constructor-arg name="class_" ref="class1"></constructor-arg>
    </bean>
    
</beans>
